In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns',None)
pd.options.display.max_rows = 100

In [3]:
df = pd.read_csv('XYZCorp_LendingData.txt',delimiter = "\t",low_memory=False)
df.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,n,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.0,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,n,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.0,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,n,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.0,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
print(df.shape)
print(df.isnull().sum())

(855969, 73)
id                                  0
member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
sub_grade                           0
emp_title                       49443
emp_length                      43061
home_ownership                      0
annual_inc                          0
verification_status                 0
issue_d                             0
pymnt_plan                          0
desc                           734157
purpose                             0
title                              33
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                         0
earliest_cr_line                    0
inq_last_6mths                      0
mths_since_last_delinq         439812
mths_since_last_record         724785
open_acc                            0
pub_rec                             0
revol_bal                           0
revol_util                        446
total_acc                           0
initial_list_status                 0
out_prncp                           0
out_prncp_inv                       0
total_pymnt                         0
total_pymnt_inv                     0
total_rec_prncp                     0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
last_pymnt_d                     8862
last_pymnt_amnt                     0
next_pymnt_d                   252971
last_credit_pull_d                 50
collections_12_mths_ex_med         56
mths_since_last_major_derog    642830
policy_code                         0
application_type                    0
annual_inc_joint               855527
dti_joint                      855529
verification_status_joint      855527
acc_now_delinq                      0
tot_coll_amt                    67313
tot_cur_bal                     67313
open_acc_6m                    842681
open_il_6m                     842681
open_il_12m                    842681
open_il_24m                    842681
mths_since_rcnt_il             843035
total_bal_il                   842681
il_util                        844360
open_rv_12m                    842681
open_rv_24m                    842681
max_bal_bc                     842681
all_util                       842681
total_rev_hi_lim                67313
inq_fi                         842681
total_cu_tl                    842681
inq_last_12m                   842681
default_ind                         0
dtype: int64

## Dropping columns with more than 50% missing values and unwanted variables

In [5]:
 

unwanted_cols = ['annual_inc_joint','application_type','collections_12_mths_ex_med',
                 'collections_12_mths_ex_med','desc','dti_joint','earliest_cr_line','emp_title',
                 'funded_amnt_inv','id','member_id','mths_since_last_delinq',
                 'mths_since_last_major_derog','mths_since_last_record','open_acc',
                 'out_prncp_inv','policy_code','pub_rec','pymnt_plan','recoveries','sub_grade',
                 'title','total_pymnt_inv','total_rec_int','total_rec_late_fee','total_rec_prncp',
                 'verification_status_joint','zip_code','open_acc_6m','open_il_6m','open_il_12m',
                 'open_il_24m','mths_since_rcnt_il','total_bal_il','il_util','open_rv_12m',
                 'open_rv_24m','max_bal_bc','all_util','total_rev_hi_lim','inq_fi','total_cu_tl',
                 'inq_last_12m','acc_now_delinq']


df_copy = df.drop(unwanted_cols,axis=1)

In [6]:
df_copy.shape

(855969, 30)

In [7]:
df_copy.isnull().sum()

loan_amnt                       0
funded_amnt                     0
term                            0
int_rate                        0
installment                     0
grade                           0
emp_length                  43061
home_ownership                  0
annual_inc                      0
verification_status             0
issue_d                         0
purpose                         0
addr_state                      0
dti                             0
delinq_2yrs                     0
inq_last_6mths                  0
revol_bal                       0
revol_util                    446
total_acc                       0
initial_list_status             0
out_prncp                       0
total_pymnt                     0
collection_recovery_fee         0
last_pymnt_d                 8862
last_pymnt_amnt                 0
next_pymnt_d               252971
last_credit_pull_d             50
tot_coll_amt                67313
tot_cur_bal                 67313
default_ind                     0
dtype: int64

In [8]:
#imputing missing values with the mean
col_mean = ['revol_util','tot_coll_amt','tot_cur_bal']
for name in col_mean:
    df_copy[name].fillna(df_copy[name].mean(),inplace=True)
print(df_copy.isnull().sum())

loan_amnt                       0
funded_amnt                     0
term                            0
int_rate                        0
installment                     0
grade                           0
emp_length                  43061
home_ownership                  0
annual_inc                      0
verification_status             0
issue_d                         0
purpose                         0
addr_state                      0
dti                             0
delinq_2yrs                     0
inq_last_6mths                  0
revol_bal                       0
revol_util                      0
total_acc                       0
initial_list_status             0
out_prncp                       0
total_pymnt                     0
collection_recovery_fee         0
last_pymnt_d                 8862
last_pymnt_amnt                 0
next_pymnt_d               252971
last_credit_pull_d             50
tot_coll_amt                    0
tot_cur_bal                     0
default_ind                     0
dtype: int64

In [9]:
#imputing missing values with the mode
unwant = ['last_pymnt_d','emp_length','last_credit_pull_d','next_pymnt_d']
for name in unwant:
    df_copy[name].fillna(df_copy[name].mode()[0], inplace=True)
print(df_copy.isnull().sum())

loan_amnt                  0
funded_amnt                0
term                       0
int_rate                   0
installment                0
grade                      0
emp_length                 0
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
purpose                    0
addr_state                 0
dti                        0
delinq_2yrs                0
inq_last_6mths             0
revol_bal                  0
revol_util                 0
total_acc                  0
initial_list_status        0
out_prncp                  0
total_pymnt                0
collection_recovery_fee    0
last_pymnt_d               0
last_pymnt_amnt            0
next_pymnt_d               0
last_credit_pull_d         0
tot_coll_amt               0
tot_cur_bal                0
default_ind                0
dtype: int64

In [10]:
df_copy.dtypes

loan_amnt                  float64
funded_amnt                float64
term                        object
int_rate                   float64
installment                float64
grade                       object
emp_length                  object
home_ownership              object
annual_inc                 float64
verification_status         object
issue_d                     object
purpose                     object
addr_state                  object
dti                        float64
delinq_2yrs                float64
inq_last_6mths             float64
revol_bal                  float64
revol_util                 float64
total_acc                  float64
initial_list_status         object
out_prncp                  float64
total_pymnt                float64
collection_recovery_fee    float64
last_pymnt_d                object
last_pymnt_amnt            float64
next_pymnt_d                object
last_credit_pull_d          object
tot_coll_amt               float64
tot_cur_bal                float64
default_ind                  int64
dtype: object

In [11]:
colname = ['loan_amnt','term','grade','emp_length','home_ownership',
           'verification_status','purpose','addr_state','initial_list_status',
           'last_pymnt_d','next_pymnt_d','last_credit_pull_d']

In [12]:
df_copy['issue_d']= pd.to_datetime(df_copy.issue_d)
df_copy.dtypes

loan_amnt                         float64
funded_amnt                       float64
term                               object
int_rate                          float64
installment                       float64
grade                              object
emp_length                         object
home_ownership                     object
annual_inc                        float64
verification_status                object
issue_d                    datetime64[ns]
purpose                            object
addr_state                         object
dti                               float64
delinq_2yrs                       float64
inq_last_6mths                    float64
revol_bal                         float64
revol_util                        float64
total_acc                         float64
initial_list_status                object
out_prncp                         float64
total_pymnt                       float64
collection_recovery_fee           float64
last_pymnt_d                       object
last_pymnt_amnt                   float64
next_pymnt_d                       object
last_credit_pull_d                 object
tot_coll_amt                      float64
tot_cur_bal                       float64
default_ind                         int64
dtype: object

In [13]:
df_copy.set_index('issue_d', inplace=True)
df_copy.head(3)

,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,total_pymnt,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,tot_coll_amt,tot_cur_bal,default_ind
issue_d,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2011-12-01,5000.0,5000.0,36 months,10.65,162.87,B,10+ years,RENT,24000.0,Verified,credit_card,AZ,27.65,0.0,1.0,13648.0,83.7,9.0,f,0.0,5861.071414,0.00,Jan-2015,171.62,Feb-2016,Jan-2016,225.412882,139766.247529,0
2011-12-01,2500.0,2500.0,60 months,15.27,59.83,C,< 1 year,RENT,30000.0,Source Verified,car,GA,1.00,0.0,5.0,1687.0,9.4,4.0,f,0.0,1008.710000,1.11,Apr-2013,119.66,Feb-2016,Sep-2013,225.412882,139766.247529,1
2011-12-01,2400.0,2400.0,36 months,15.96,84.33,C,10+ years,RENT,12252.0,Not Verified,small_business,IL,8.72,0.0,2.0,2956.0,98.5,10.0,f,0.0,3003.653644,0.00,Jun-2014,649.91,Feb-2016,Jan-2016,225.412882,139766.247529,0

In [14]:
df_copy.sort_index(ascending=True,inplace=True)

In [15]:
df_copy.head()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,total_pymnt,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,tot_coll_amt,tot_cur_bal,default_ind
issue_d,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2007-06-01,7500.0,7500.0,36 months,13.75,255.43,E,< 1 year,OWN,22000.0,Not Verified,debt_consolidation,MA,14.29,1.0,0.0,4175.0,51.5,8.0,f,0.0,9194.98,0.0,Jun-2010,256.59,Feb-2016,Jun-2010,225.412882,139766.247529,0
2007-07-01,5000.0,5000.0,36 months,7.43,155.38,A,8 years,MORTGAGE,150000.0,Not Verified,home_improvement,GA,0.00,0.0,0.0,6053.0,19.5,19.0,f,0.0,5174.17,0.0,Jan-2008,4397.47,Feb-2016,Jun-2007,225.412882,139766.247529,0
2007-07-01,5750.0,5750.0,36 months,7.43,178.69,A,10+ years,MORTGAGE,125000.0,Not Verified,debt_consolidation,MA,0.27,0.0,0.0,2817.0,10.2,16.0,f,0.0,6421.50,0.0,May-2010,4.74,Feb-2016,Apr-2010,225.412882,139766.247529,0
2007-07-01,5000.0,5000.0,36 months,7.43,155.38,A,6 years,RENT,40000.0,Not Verified,car,WI,2.55,0.0,2.0,2562.0,14.0,7.0,f,0.0,5593.39,0.0,Aug-2010,158.65,Feb-2016,Nov-2013,225.412882,139766.247529,0
2007-07-01,1200.0,1200.0,36 months,11.54,39.60,C,< 1 year,RENT,20000.0,Not Verified,credit_card,ME,2.04,0.0,2.0,1153.0,75.8,4.0,f,0.0,1425.37,0.0,Jul-2010,39.45,Feb-2016,Jul-2010,225.412882,139766.247529,0

In [16]:
from sklearn import preprocessing

le={}

for x in colname:
    le[x]=preprocessing.LabelEncoder()
    
    
for x in colname:
    df_copy[x]=le[x].fit_transform(df_copy.__getattr__(x))

In [17]:
df_copy.head(5)

,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,addr_state,dti,delinq_2yrs,inq_last_6mths,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,total_pymnt,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,tot_coll_amt,tot_cur_bal,default_ind
issue_d,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2007-06-01,267,7500.0,0,13.75,255.43,4,10,4,22000.0,0,2,19,14.29,1.0,0.0,4175.0,51.5,8.0,0,0.0,9194.98,0.0,51,256.59,0,54,225.412882,139766.247529,0
2007-07-01,167,5000.0,0,7.43,155.38,0,8,1,150000.0,0,4,10,0.00,0.0,0.0,6053.0,19.5,19.0,0,0.0,5174.17,0.0,32,4397.47,0,51,225.412882,139766.247529,0
2007-07-01,197,5750.0,0,7.43,178.69,0,1,1,125000.0,0,2,19,0.27,0.0,0.0,2817.0,10.2,16.0,0,0.0,6421.50,0.0,67,4.74,0,1,225.412882,139766.247529,0
2007-07-01,167,5000.0,0,7.43,155.38,0,6,5,40000.0,0,0,48,2.55,0.0,2.0,2562.0,14.0,7.0,0,0.0,5593.39,0.0,10,158.65,0,81,225.412882,139766.247529,0
2007-07-01,15,1200.0,0,11.54,39.60,2,10,5,20000.0,0,1,21,2.04,0.0,2.0,1153.0,75.8,4.0,0,0.0,1425.37,0.0,43,39.45,0,45,225.412882,139766.247529,0

# Train Test Split

In [18]:
split_index = df_copy.index

In [19]:
type(split_index)

pandas.core.indexes.datetimes.DatetimeIndex

In [20]:
split_index[2]

Timestamp('2007-07-01 00:00:00')

In [21]:
x = pd.to_datetime('2015-05-31')

In [22]:
split_index[2] < x

True

In [23]:
X_train = df_copy.iloc[df_copy.index < x, :]
X_train.shape

(598978, 29)

In [24]:
X_test = df_copy.iloc[df_copy.index > x, :]
X_test.shape

(256991, 29)

In [25]:
Y_train=X_train.values[:,-1]
Y_train.shape

(598978,)

In [26]:
X_train=X_train.values[:,:-1]
X_train.shape

(598978, 28)

In [27]:
Y_test=X_test.values[:,-1]
print(Y_test.shape)

X_test=X_test.values[:,:-1]
X_test.shape

(256991,)

(256991, 28)

# =================================

In [28]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
#print(X)

# Model Building Decision Tree

In [29]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X_train,Y_train)

Y_pred =model.predict(X_test)
#print(list(zip(Y_test,Y_pred)))

In [30]:
cfm = confusion_matrix(Y_test,Y_pred)
print(cfm)

print('Classification report:')
print(classification_report(Y_test,Y_pred))

acc=accuracy_score(Y_test,Y_pred)
print("accuracy of the model:",acc)

[[250587   6093]
 [    10    301]]
Classification report:
             precision    recall  f1-score   support

        0.0       1.00      0.98      0.99    256680
        1.0       0.05      0.97      0.09       311

avg / total       1.00      0.98      0.99    256991

accuracy of the model: 0.9762520866489488

In [31]:
from sklearn import metrics
fpr, tpr, threshold = metrics.roc_curve(Y_test,Y_pred)
auc = metrics.auc(fpr, tpr)
print('Area Under the Curve:', auc)

Area Under the Curve: 0.9720539656268743

In [32]:
# Model Building Random Forest

In [33]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model = model.fit(X_train,Y_train)

Y_pred = model.predict(X_test)

In [34]:
cfm = confusion_matrix(Y_test,Y_pred)
print(cfm)

print('Classification report:')
print(classification_report(Y_test,Y_pred))

acc=accuracy_score(Y_test,Y_pred)
print("accuracy of the model:",acc)

[[247440   9240]
 [     4    307]]
Classification report:
             precision    recall  f1-score   support

        0.0       1.00      0.96      0.98    256680
        1.0       0.03      0.99      0.06       311

avg / total       1.00      0.96      0.98    256991

accuracy of the model: 0.9640298687502675

In [35]:
from sklearn import metrics
fpr, tpr, threshold = metrics.roc_curve(Y_test,Y_pred)
auc = metrics.auc(fpr, tpr)
print('Area Under the Curve:', auc)

Area Under the Curve: 0.9755700668491603

In [36]:
#model Building Logistic Regression

In [37]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train, Y_train)
y_pred = lr.predict(X_test)

In [38]:
cfm = confusion_matrix(Y_test,Y_pred)
print(cfm)

print('Classification report:')
print(classification_report(Y_test,Y_pred))

acc=accuracy_score(Y_test,Y_pred)
print("accuracy of the model:",acc)

[[247440   9240]
 [     4    307]]
Classification report:
             precision    recall  f1-score   support

        0.0       1.00      0.96      0.98    256680
        1.0       0.03      0.99      0.06       311

avg / total       1.00      0.96      0.98    256991

accuracy of the model: 0.9640298687502675

In [39]:
from sklearn import metrics
fpr, tpr, threshold = metrics.roc_curve(Y_test,Y_pred)
auc = metrics.auc(fpr, tpr)
print('Area Under the Curve:', auc)

Area Under the Curve: 0.9755700668491603